body, .header, main_content {
  width = 700px;
}
h1 {
  font-size: 32px;
  padding: 3px 0 3px 0;
  font-family: Helvetica, Arial, sans-serif;  
  margin: 0 auto 0 auto;
  text-align: center;
  display: inline;
}
.header {
  margin: 0 auto 0 auto;
  padding: 20px;
  text-align: center;
}
.main-content {
  margin: 0 auto 0 auto;
  padding: 20px;
}